@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

html {
    font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oxygen', sans-serif;
}
/* btn*/
.btn{
    padding: 0.75em  2.5em;
   background: #58c4c4;
   border-radius: 5px;
   text-decoration: none;
   color: white;
   margin-top: 0.5em;
}
.btn:hover{
    background: #37a0a0;
}
.nav-header {
    background: #612674;
    text-align: center;
}

.nav-header ul {
    margin: 0;
    padding: 0.5em;
    list-style-type: none;
}

.nav-header a {
    color: white;
    text-decoration: none;
    padding: 1em;
    display: block;
    text-transform: uppercase;

}

.nav-header a:hover {
    background: #7c3792;
    transition: 2s;
}
.top-header {
text-align: center;
margin-top: 15px;
margin-bottom: 15px;
}
.top-header-logo{
    height: 100px;
    margin: 0.5em;
}
/* section Get started*/
.get-started{
    padding: 1em;
    text-align: center;
    background: #f6f6f6;
}
.get-started-title{
color: #612674;
font-size: 1.375em;
}
.get-started-subtitle{
    color: #a87bb7;
    font-size: 1em;
  line-height: 1.5;

}
.main-art{
    margin-top: 1px;
}
.art{
    padding: 2em;
    background: #f6f6f6;
    text-align: center;
}
.title{
    font-size: 1.25em;
    color: #652e78;
  text-transform: uppercase;
}
    .art p{
        line-height: 1.5;
        color: #222;
        text-justify: newspaper;
    }
  .art span[class^=icon]{
    font-size: 4em;
    color: #652e78;
  }
