@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

html {
    font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oxygen', sans-serif;
}

.nav-header {
    background: #612674;
    text-align: center;
}

.nav-header ul {
    margin: 0;
    padding: 0.5em;
    list-style-type: none;
}

.nav-header a {
    color: white;
    text-decoration: none;
    padding: 1em;
    display: block;
    text-transform: uppercase;

}

.nav-header a:hover {
    background: #7c3792;
    transition: 2s;
}
.top-header {
text-align: center;
margin-top: 15px;
margin-bottom: 15px;
}
.top-header-logo{
    height: 100px;
    margin: 0.5em;
}